################################################################################
# Default
################################################################################
/*

################################################################################
# ABCDE
################################################################################
!/.abcde.conf

################################################################################
# Git
################################################################################
!/.gitconfig
!/.gitignore

################################################################################
# rTorrent
################################################################################
!/.rtorrent.rc

################################################################################
# Tmux
################################################################################
!/.tmux.conf
!/.tmux

################################################################################
# X.org
################################################################################
!/.Xdefaults
!/.Xmodmap
!/.xinitrc

################################################################################
# Zsh
################################################################################
!/.zshenv
!/.zshenv.d
/.zshenv.d/hub
!/.zlogin
!/.zlogout
!/.zshrc
